[submodule "src/auth"]
	path = src/auth
	url = git@github.com:mallowigi/microblog-auth.git
[submodule "src/users"]
	path = src/users
	url = git@github.com:mallowigi/microblog-users.git
[submodule "src/common"]
	path = src/common
	url = git@github.com:mallowigi/microblog-common.git
[submodule "src/authorization"]
	path = src/authorization
	url = git@github.com:mallowigi/microblog-authorization.git
[submodule "src/gateway"]
	path = src/gateway
	url = git@github.com:mallowigi/microblog-gateway.git
[submodule "src/articles"]
	path = src/articles
	url = git@github.com:mallowigi/microblog-articles.git
